<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="za.co.sacpo.grant">
    <!-- <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" /> -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_logo_2"
        android:label="@string/app_full_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@drawable/app_logo_2"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity
            android:name=".xCubeStudent.editprofile.SEditProfileStepFourA"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".xCubeStudent.editprofile.SEDitProfileStepThreeA"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".xCubeStudent.editprofile.SEditProfileMainA"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".xCubeStudent.editprofile.SEditProfileStepTwoA"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".xCubeStudent.upload.SUploadDocumentA" />
        <activity
            android:name=".xCubeMentor.training.MAddTrainingPlanA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.training.MEditTrainingPlanA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.training.MExistingTrainingPlanA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.upload.MUploadClaimFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.training.MTrainingPlanA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.upload.MDocumentCenterA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SplashA"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xCubeStudent.SVideoA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.MVideoA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LoginA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AppUpdatedA"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ForgotPassA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ContactSupportPublicA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.leaves.MLeaveApproval"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.SDashboardDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.grant.SGrantDetailsA"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".xCubeStudent.SDashboardDA"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.details.SSupervisorDetailsA"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".xCubeStudent.SDashboardDA"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.details.SLEADetailsA"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".xCubeStudent.SDashboardDA"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.details.SWorkstationDetailsA"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".xCubeStudent.SDashboardDA"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.grant.MGrantDetailsA"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".xCubeStudent.SDashboardDA"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.SChangePasswordA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.editprofile.SEditProfileStepOneA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.queries.MContactSupportPrivateA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- <activity android:name=".xCubeStudent.mobile.UpdateProfilePicA" /> -->
        <activity
            android:name=".xCubeMentor.queries.MIncomingQueriesA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.queries.MOutgoingQueriesA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.queries.MQueriesCommentsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.queries.MQueriesDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.queries.SOutgoingQueriesA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.queries.SQueriesDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.queries.SIncomingQueriesA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.queries.SQueriesCommentsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.alerts.SAlertsGroupA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.announcement.MAnnouncement"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.alerts.MAlertsGroupA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.alerts.MAlertsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.alerts.MAlertDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.queries.MQueriesGroupA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.alerts.SAlertsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.alerts.SAlertDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.announcement.MAnnouncementDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.SignInA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.SignOutA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.attendance.MAttMonthlyA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.SMonthlyAttDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.SAttDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.SCurrentAttDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.upload.DocumentCenterListA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.bank.SEditBankDetailA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.leaves.SLeavesDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.leaves.SAddLeavesA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.leaves.SEditLeaveA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SPendingReportsDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SPastClaimDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SStipendDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SDownCFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SDownUnSignCFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SUpCFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SSubmitClaim"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.forms.SFormsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.forms.SDownloadFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.forms.SDownloadUnSignFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.forms.SUploadFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.forms.SDownloadLeadEmployerSignedFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.grant.SGrantsDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.grant.SResignationA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.stipends.SStipendsDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.stipends.SStipendDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MStipendDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.queries.SContactSupportPrivateA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.messages.MChatHeadsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.messages.MChatListA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.messages.MChatA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.messages.SChatHeadsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.messages.SChatA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.SUploadPicA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.student.StudentsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.student.StudentA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.forms.MDownloadSignedFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.forms.MDownloadUnSignedFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.forms.MUploadSignedFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.attendance.MAttSummaryA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MDownloadClaimFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MPastClaimA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.leaves.MSLeaveListA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.leaves.MSLeaveDetailListA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.workX.MWorkXsDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.workX.MRemoveWorkXA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.workX.MAssignedSA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.workX.MEditWorkXA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.workX.MChangeSWorkXA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".xCubeStudent.attendance.SAttDetailsA" />
        <activity
            android:name=".xCubeStudent.bank.SBankDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.forms.DownloadMentorSignedFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.attendance.MAttApprovalA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <activity
            android:name=".xCubeMentor.MEditProfileA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.attendance.MAttDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.leaves.SLMotivationA"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.leaves.SLConfirmationA"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.leaves.SLRemoveA"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.workX.MNonAssignSA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MApproveClaimFormA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MApproveA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.forms.MFormsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.MDashboardDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.feedback.MStudentFeedback"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.feedback.MStudentReports"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.feedback.MFeedbackA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.workX.MAddWorksA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.MUploadPicA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xCubeMentor.MUpdateMobile"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xCubeMentor.claims.MStipendClaimDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.feedback.MStudentReportsDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.MChangePassword"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.student.MChangeOffDay"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SClaimDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xCubeMentor.time_sheet.TimeSheetA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xCubeMentor.time_sheet.MTimeSheetUploade"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.time_sheet.MTimeSheetDownload"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.queries.Fullscreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.notes.MNoteList"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.notes.MAddNote"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.feedback.SFeedbackDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.feedback.SAddFeedbackA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.feedback.SLearnerReportsList"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.feedback.SReportDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.leaves.SLSupervisorCommentsA"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.announcment.SAnnouncement"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.announcment.SAnnouncementDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.messages.SChatListDA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.feedback.SEditFeedbackA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.feedback.SRemoveFeedbackA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.feedback.SAddMoreExperience"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.notes.MEditNotelistA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.notes.MDeleteNoteA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.feedback.MEditFeedbackA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.feedback.MDeleteFeedbackA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.SOutOfRangeA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.attendance.MCurrentAttA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.queries.SQueriesGroupA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.SAttPostCommentA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.SAttVCommentA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.SAttVMCommentA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MClaimAttApproveA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SImpactStudiesA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SConfirmBankDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SCMonthlyFeedbackA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SCWeeklyReport"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.claims.SAttSummaryList"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MWeeklyReport"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MMonthlyFeedbackA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MLearnerGrantDetailsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MPendingClaimsA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MLearnerClaimList"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MClaimAttList"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MLearnerAbsentList"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.claims.MLearnerLeaveListA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.EditAttendanceA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.EditAttCalenderA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.UploadAttendanceA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.attendance.DownloadAttA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.upload.UploadCv"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeMentor.workX.MAssignWorkstationA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.bank.ProofOfBankingA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".xCubeStudent.upload.DownloadCenterA"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="@string/google_maps_key" /> -->
        <service
            android:name=".xCubeLib.component.LocationUpdatesService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".xCubeLib.services.OlumsFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".xCubeLib.services.OlumsInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>